@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~flag-icon-css/css/flag-icon.min.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.notification {
    color: white;
  
    &__error {
      background-color: brown;
    }
  
    &__error button {
      color: white;
      background-color: brown;
    }
  
    &__success {
      background-color: green;
    }
  
    &__success button {
      color: white;
      background-color: green;
    }
  }
.time-sch-wrapper{
  max-height: 122px !important;
  overflow: hidden !important;
}
.time-sch-section {
  position: static !important;
  top: 2px !important;
  
}
.stick{
  border-bottom: 0.5px solid gray !important;
}
.buttonday{
  visibility: hidden;
}